.reset-fieldset {
  margin: 0;
  padding: 0;

  border: 0;
}

.reset-text {
  margin: 0;
}

.reset-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.reset-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  color: inherit;
  font: inherit;

  line-height: normal;
}
