.price {
    margin-top: 208px;
    margin-bottom: 106px;

    &__container {
        display: flex;
        flex-wrap: wrap;

        position: relative;

        width: 100%;

        padding: 0% 19.5%;
        padding-right: 19%;

        box-sizing: border-box;
    }

    &__header {
        width: 300px;

        padding-left: 110px;

        margin: 0 auto;

        order: 2;
    }

    &__main-title {
        margin-top: 106px;
        margin-bottom: 50px;

        font-weight: 600;
        font-size: 55px;
        line-height: 90px;

        color: #2C2E3F;
    }

    &__main-description {
        margin-bottom: 60px;

        font-size: 16px;
        line-height: 170%;

        color: rgba(44, 46, 63, 0.7);
    }

    &__call-us {
        position: relative;

        display: flex;
        flex-direction: column;

        padding-left: 48px;
    }

    &__call-text {
        margin-bottom: 13px;

        font-weight: 500;
        font-size: 22px;
        line-height: 34px;

        color: #141517;
    }

    &__number {
        font-size: 20px;
        line-height: 32px;

        color: #000000;

        &::before {
            content: "";

            position: absolute;

            left: 0;
            bottom: 0;

            width: 30px;
            height: 30px;

            background-image: url("../img/phone.svg");
        }
    }

    &__main-list {
        display: flex;
        justify-content: center;

        flex-wrap: wrap;

        flex-grow: 1;

        margin: 0 -15px;
    }

    &__main-item {
        width: 370px;

        padding: 30px;
        padding-top: 36px;

        margin: 0 15px;
        margin-bottom: 30px;

        border: 1px solid rgba(44, 46, 63, 0.3);
        border-radius: 6px;

        box-sizing: border-box;
    }

    &__title {
        margin-bottom: 38px;

        font-weight: 600;
        font-size: 28px;
        line-height: 38px;

        letter-spacing: -1.28px;

        color: rgba(20, 21, 23, 0.7);
    }

    &__dollars {
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
    }

    &__description {
        width: 290px;

        padding-bottom: 28px;

        border-bottom: 1px solid rgba(44, 46, 63, 0.3);

        font-size: 16px;
        line-height: 24px;

        color: #2C2E3F;
    }

    &__list {
        padding-top: 30px;
        padding-bottom: 28px;
    }

    &__item {
        position: relative;

        padding-left: 30px;

        margin-bottom: 12px;

        font-size: 16px;
        line-height: 32px;

        color: #2C2E3F;

        &::before {
            content: "";

            position: absolute;

            top: 10px;
            left: 0;

            width: 14px;
            height: 12px;

            background-image: url("../img/check.svg");
        }
    }

    &__buy {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 310px;
        height: 75px;

        background-color: #FE7865;

        font-weight: 700;
        font-size: 12px;
        line-height: 15px;

        letter-spacing: 2px;
        text-transform: uppercase;

        color: #FFFFFF;

        &--complex {
            margin-top: 10px;
        }
    }
}

@media (max-width: 1023px) {
    .price {
        margin-top: 80px;

        &__container {
            flex-direction: column;

            min-width: auto;
            width: 100%;
            
            padding: 0;
        }

        &__header {
            display: flex;
            flex-direction: column;

            align-items: center;

            width: auto;

            margin-left: 0;

            padding: 0 2.5%;

            order: 0;
        }

        &__main-title {
            margin-top: 0;
            margin-bottom: 20px;

            font-size: 30px;
            line-height: 45px;
        }

        &__main-description {
            margin-bottom: 30px;

            text-align: center;
        }

        &__call-us {
            padding: 0;

            margin-bottom: 30px;
        }

        &__call-text {
            font-size: 18px;
            line-height: 34px;

            text-align: center;
        }

        &__number {
            font-size: 18px;
            line-height: 32px;

            text-decoration: underline;

            color: #FE7865;

            &::before {
                display: none;
            }
        }

        &__main-list {
            justify-content: center;

            flex-wrap: wrap;
        }

        &__main-item {
            position: relative;

            display: flex;
            flex-direction: column;

            align-items: center;

            width: 288px;

            margin-right: 50px;

            padding: 30px 20px;
            padding-bottom: 0;

            &:last-child {
                margin-right: 0;
            }
        }

        &__title {
            display: flex;
            flex-direction: column;

            align-items: center;

            margin-bottom: 11px;
        }

        &__dollars {
            margin-top: 10px;
        }

        &__description {
            padding-bottom: 10px;

            text-align: center;
        }

        &__list {
            margin-top: 20px;
            margin-bottom: 30px;

            &--complex {
                margin-bottom: 40px;
            }
        }

        &__item {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &__buy {
            width: 288px;
            height: 50px;

            margin-top: auto;
            margin-bottom: -1px;
        }
    }
}

@media (max-width: 767px) {
    .price {
        margin-bottom: 50px;
        
        &__container {
            padding: 0;
        }

        &__main-list {
            flex-direction: column;
        }

        &__main-item {
            margin: 0 auto;
            margin-bottom: 30px;

            &:last-child {
                margin: 0 auto;
                margin-bottom: 30px;
            }
        }
    }
}